body {
  font-family: Gotham, serif;
  background-color: #d9d9d9;
}

.container {
  margin: 20px auto;
  width: 961px;
  height: 100%;
  background-color: #fff;
  padding: 0px 20px 20px 20px;
}

#topics ul {
  padding-left: 0px;
}

#topics li {
  list-style: none;
}

#profile {
  margin-left: 100px;
}

#topics a {
  text-decoration: none;
}

.hide {
  display: none;
}

#gravatar {
  height: 60px;
  border: 1px solid gray;
  float: right;
  margin-top: 5px;
}

.profile {
  float: right;
  position: relative;
}



th {
  text-align: left;
}

header {
  background-color: #666;
  height: 75px;
  box-shadow: 0px 0px 7px #888888
}

.footer {
  background-color: #666;
  height: 80px;
  box-shadow: 0px 0px 7px #888888;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.header_box  {
  margin: 0px auto;
  width: 1000px;
  height: 100%;
}

#login_form {
  position: absolute;
  margin: 15px 0px 0px 498px;
  display: none;
}


header form input {
  height: 38px;
  width: 165px;  
  border: 0px solid;
  padding: 4px 0px 0px 19px;
  margin-right: 8px;
}

header form input:focus {
  outline: 0;
  border: none
}


#sweet_button {
  width: 100px;
  height: 43px;
  margin-right: 8px;
  background-color: #bfc9ca;
  padding-right: 19px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  border: none;
  color: #666;
}

#exisiting {
  position: absolute;
  width: 170px;
  height: 30px;
  margin: 16px 0px 0px 753px;
  background-color: #bfc9ca;
  padding: 14px 1px 0px 15px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  border: none;
  color: #666;
}



#clear_space {
  width: 100%;
  height: 100px;
}

header form input .clear:before, .clear:after{
    content:"";
    display:table;
}
 
header form input .clear:after{
    clear:both;
}

#sweet_button:hover, #exisiting:hover  {
  color: #363636;
  background-color: #afafaf
}

#logo {
  float: left;
  width: 300px;
  height: 75px;
  background-color: #DE6868;
  margin: 119px 0px 0px 329px
}

.container {
  background: url("/../image/journey.jpg") no-repeat;
  background-repeat:no-repeat;
}

#section1 {
  margin-top: 65px;
  background-color: #d9d9d9;
  width: 100%;
  height: 704px;
}

#logo p {
  color: #fff;
  text-align: center;
  padding-top: 4px;
  font-size: 21px;
  font-weight: 200;
}

/*<signup button>*/

.button-wrapper {
  float: left;
  width: 100%
}

.path{
  background: #888888;
  margin: 61px 0px 0px 328px;
  padding-left: 20px;
  padding-right: 80px;
  height: 38px;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 1px #888888;
  float: left;
  clear: both;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.path-text{
  padding-top: 10px;
  padding-left: 18px;
  display: block;
  font-size: 18px;
  color: #EBEBEB;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.path-slide-text{
    position: absolute;
    height: 91%;
    margin-top: 2px;
    top: 0px;
    right: 52px;
    width: 0px;
    background: #666;
    text-shadow: 0px -1px 1px #363f49;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: left;
    text-indent: 10px;
    overflow: hidden;
    line-height: 38px;
    box-shadow: 0px 0px 1px #666;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
  }
.path-icon-right{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 52px;
    border-left: 1px solid #666;
    -webkit-box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
}
.path-icon-right span{
  width: 38px;
  height: 38px;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -11px 0px 0px -10px;
  background: url("/../image/arrow_right.png") no-repeat;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.path:hover{
    padding-right:180px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.path:hover .path-text{
    text-shadow:0px 1px 1px #5d81ab;
    color:#fff;
}
.path:hover .path-slide-text{
    width:100px;
}
.path:hover .path-icon-right span{
    opacity:1;
}
.path:active{
    position:relative;
    top:1px;
    /*background:#DE6868;*/
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}

/*signup box*/


.signin_box {
  background-color: #666;
  position: absolute;
  width: 277px;
  z-index: 0;
  border: 1px transparent;
  text-align: left;
  padding: 12px;
  margin-top: 256px;
  margin-left: 327px;
  color: #789;
  font-size: 11px;
  opacity: 0;
  /*display: none;  */
}

.box_open {
  display: block;
}

.new_user_form input {
  background-color: #666;
  outline: none;
  border: 0px;
  width: 87%;
  height: 37px;
  font-size: 18px;
  padding-left: 29px;
}

.new_user_form input:focus { 
  color: #d9d9d9
}



#log_sub {
  background: #DE6868;
  width: 122px;
  height: 29px;
  margin: 16px 0px 12px 78px;
  padding-right: 31px;
  padding-top: 4px;
  box-shadow: 0px 0px 1px #363636;
  color: #F0F0F0;
}

#log_sub:hover{
  opacity: 0.8;
}

#log_sub:active {
  opacity: 0.5;
}

#quote_box {
  text-align: center;
  float: left;
  width: 100%;
  margin: 56px 0px 0px 24px;
  color: #666;
}

#quote_box li   {
  background-color: rgba(255, 255, 255, .2);
  padding: 1px 10px;
  width: 807px;
  list-style:  none;
  position: absolute;
  opacity:0
}

ul#cyclelist {width:200px;border:solid;position:relative;overflow:hidden;height:200px}
ul#cyclelist li {font-size:1.4em;padding:20px;opacity:0;position:absolute}

