<section>
  <header>
      <form id="login_form" class="clear" method="Get" action="/logout">
      <input class="profile" id="sweet_button" value="logout" type="submit" action="submit"> 
      <img id="gravatar" src="<%= @gravatar %>"></img>
    </form>
   
     <form class="clear" method="Get" action="/profile/<%=current_user.id%>">
      <input class="profile" id="sweet_button" value="profile" type="submit" action="submit"> 
    </form>
  </header>
</section>

<div class="container">
  <div id="answer"></div><br><br>

  <div id="question"><%=@card.question%></div>
  <form id="game" method="Post" action="/game">
    <input id="card_id" type="hidden" name="card_id" value="<%=@card.id%>"></br>
    <input type="text" name="answer" placeholder="Your Answer"></br>
    <button id="gamesubmit" action="submit">Guess</button>
  </form>

  <div class="footer"></div>

</div>
