<section>
  <header>
      <form id="login_form" class="clear" method="Get" action="/logout">
      <input class="profile" id="sweet_button" value="logout" type="submit" action="submit"> 
      <img id="gravatar" src="<%= gravatar_url(current_user.email) %>"></img>
    </form>
   
     <form class="clear" method="Get" action="/profile/<%=current_user.id%>">
      <input class="profile" id="sweet_button" value="profile" type="submit" action="submit"> 
    </form>
  </header>
</section>


<div id="container">
<section class="cardcontainer">
  <div id="card">
  <figure class="front" id="question"><%=@card.question%></figure>
  <figure class="back" id="answer"></figure>
</div>
</section>

  <form id="game" method="Post" action="/game">
    <input id="card_id" type="hidden" name="card_id" value="<%=@card.id%>"></br>
    <input type="text" name="answer" placeholder="Your Answer"></br>
    <button id="gamesubmit" action="submit">Guess</button>
  </form>
</div>
  <div class="footer"></div>


